DJANGO_DEBUG=true
DJANGO_SECRET_KEY=dev-only-key-change-this
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
ADMIN_MASTER_KEY=ADMIN-DEV-2026

DB_ENGINE=django.db.backends.mysql
DB_NAME=gestiondeeventos_db
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3307
